Post::create([
'category_id'=>3,
'title'=>'Judul ke 3',
'slug'=>'judul-ke-3',
'excerpt'=>'Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem saepe, dolore facere dolorum dolores atque',
'body'=>'<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est nostrum eligendi blanditiis rerum possimus, maxime dolorem iure sunt enim ipsam esse, quam quos necessitatibus? Cupiditate facilis unde sit sunt ab consectetur. Facilis, eveniet cumque? Sunt perspiciatis aperiam est soluta dolorem enim perferendis esse? Possimus placeat sit quisquam aspernatur aperiam quae culpa, quo dolore. Ut reiciendis suscipit repudiandae, labore praesentium facilis a quia nobis expedita dolore ex minima corrupti enim quidem cupiditate doloribus commodi quas deleniti tenetur, soluta, non recusandae accusantium. Eligendi corrupti unde a quasi ex? Error eos, consequuntur dolor eveniet eligendi, dolorum provident est deleniti laboriosam magnam corrupti quasi?</p>'
])
